@media(max-width: 768px) {

    .title {
        font-size: 50px;
    }

    .name__title {
        font-size: 30px;
    }

    .descr__title {
        font-size: 25px;
    }

    .descr__text {
        font-size: 20px;
    }
}