html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
    text-align: left;
  }

  .type {
    color: red;
    background: -webkit-linear-gradient(25deg, #eee, #333);
    -webkit-background-clip: text;
    font-size: 3rem;
    font-weight: 500;
    overflow: hidden;
    white-space: nowrap;
    text-decoration: solid;
    animation: type 1.5s steps(90) 1.5s 1 normal both, cursor 1s step-end infinite;
    position: relative;
    font-style:italic;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 120px;
    background-image: url(../img/280d72f722ef113e2fc7fbbe67cf709b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  .list-reset {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    color: gold;
    opacity: 0.2;
  }
  
  :root {
    --darkblue-color: #3F2AFF;
    --white-color: #ffffff;
    --darkpearpol-color: #2E2B44;
    --gray-color: #666666;
    --darktheme-color: #212133;
    --graypearpul-color: #85859B;
    --gray-color: #666666;
    --whiteother-color: #EDF0F9;
  }

  /*modal*/
.modal-container {
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 555;
  background-image: url(../img/10.png);
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.modal-box {
  position: relative;
  max-width: 500px;
  padding: 45px;
  z-index: 2;
  background-color: rgba(206, 203, 206, 0.5);
  margin: 30px 15px;
  box-shadow: 0 0 17px -7px rgb(0, 0, 0);
  transform: scale(0);
  transition: all .8s ease-in-out;
}

.modal-container.open {
  visibility: visible;
  opacity: 1;
}

.modal-container.open .modal-box {
  transform: scale(1);
}

.open-login-btn {
  background-color: transparent;
  border: none;
  ;
  transition: all .3s ease-in-out
}

.open-login-btn:hover {
  background-color: transparent;
  border: none;
  color: #fff;
  background-color: blue;
}


.log-title {
  margin-bottom: 15px;
}

.log-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.form-login {
  width: 100%;
  height: 35px;
}

/**/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
}

.title {
  font-size: 113px;
  text-align: center;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-content: flex-start;
  align-content: center;
  gap: 15px;
}

/*text*/
:root {
  --primary-color: #c8dc71;
  --gradient-color: linear-gradient(180deg, #d2ff00 0%, #00d2ff 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Space Grotesk", sans-serif;
  background-color: #16181b;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Custom */


@keyframes type {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}