html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  a {
    color: inherit;
    text-decoration: none;
  }

  h1,
  h2,
  p {
    margin: 0;
    padding: 0;
  }
  
  img {
    max-width: 100%;
  }
  
  body {
    min-width: 320px;
    font-family: "Roboto", sans-serif;
  }
  
  .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 120px;
  }
  
  .list-reset {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
  .btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
  }
  
  :root {
    --darkblue-color: #3F2AFF;
    --white-color: #ffffff;
    --darkpearpol-color: #2E2B44;
    --gray-color: #666666;
    --darktheme-color: #212133;
    --graypearpul-color: #85859B;
    --gray-color: #666666;
    --whiteother-color: #EDF0F9;
  }

  /*modal*/
.modal-container {
  position: fixed;
  display: grid;
  align-items: center;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 555;
  background-image: url(../img/10.png);
  background-repeat: no-repeat;
  background-size: cover;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.modal-box {
  position: relative;
  max-width: 500px;
  padding: 45px;
  z-index: 2;
  background-color: rgba(206, 203, 206, 0.5);
  margin: 30px 15px;
  box-shadow: 0 0 17px -7px rgb(0, 0, 0);
  transform: scale(0);
  transition: all .8s ease-in-out;
}

.modal-container.open {
  visibility: visible;
  opacity: 1;
}

.modal-container.open .modal-box {
  transform: scale(1);
}

.open-login-btn {
  background-color: transparent;
  border: none;
  ;
  transition: all .3s ease-in-out
}

.open-login-btn:hover {
  background-color: transparent;
  border: none;
  color: #fff;
  background-color: blue;
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 5px;
  transition: all .3s ease-in-out
}

.btn-close:hover {
  color: #1f1f1f;
  background-color: blue;
}

.log-title {
  margin-bottom: 15px;
}

.log-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-input {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.form-login {
  width: 100%;
  height: 35px;
}

/**/
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
}

.tittle {
  font-size: 113px;
}

.name__title {
  
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 15px;
}